<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Dados da Tabela: {{ table_name }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <style>
        header {
            background-color: #000; /* Cor de fundo */
            color: #fff; /* Cor do texto */
            padding: 15px; /* Preenchimento ao redor do texto */
            font-size: 20px; /* Tamanho da fonte */
            text-align: center; /* Alinhamento do texto */
        }
        .sidebar {
            height: 100vh;
            overflow-y: auto;
            padding-top: 20px;
        }
        .btn-first {
            margin-top: 20px;
        }
        thead th {
            background-color: white;
            position: sticky;
            top: 0;
            z-index: 10;
        }
        .main-content {
            overflow-y: auto;
            height: 100vh;
        }
    </style>
</head>
<body>
    <header>
        <h1>Régia Capital</h1>
        <p>{{ table_name }}</p>
    </header>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-2 bg-light sidebar">
                {% for name, formatted_name in table_names.items() %}
                <button class="btn btn-dark w-100 mb-2 {{ 'btn-first' if loop.first else '' }}" onclick="window.location.href='/table/{{ name }}'">{{ formatted_name }}</button>
                {% endfor %}
                <button class="btn btn-dark w-100 mb-2" onclick="window.location.href='/dashboards'">Dashboards</button>
            </aside>
            <main class="col-10 main-content">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="bg-dark text-white">
                            <tr>
                                {% for col in column_names %}
                                <th>{{ col }}</th>
                                {% endfor %}
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in data %}
                            <tr>
                                <form action="{{ url_for('update_row', id=row['id'], table_name=table_name) }}" method="post">
                                    {% for col in column_names %}
                                    <td><input type="text" name="{{ col }}" value="{{ row[col] }}" style="border:none; background-color:transparent;"></td>
                                    {% endfor %}
                                    <td>
                                        <button type="submit" class="btn btn-primary btn-sm">Atualizar</button>
                                    </form>
                                    <form action="{{ url_for('delete_row', id=row['id'], table_name=table_name) }}" method="post" onsubmit="return confirm('Tem certeza que deseja deletar esta linha?');">
                                        <button type="submit" class="btn btn-danger btn-sm">Deletar</button>
                                    </form>
                                    </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation">
                  <ul class="pagination">
                      {% if total_pages > 5 %}
                          {% if page == 1 %}
                              <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
                              <li class="page-item"><a class="page-link" href="{{ url_for('view_table', table_name=table_name, page=page+1) }}">{{ page+1 }}</a></li>
                              <li class="page-item"><a class="page-link" href="{{ url_for('view_table', table_name=table_name, page=page+2) }}">{{ page+2 }}</a></li>
                          {% else %}
                              <li class="page-item"><a class="page-link" href="{{ url_for('view_table', table_name=table_name, page=page-1) }}">{{ page-1 }}</a></li>
                              <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
                              <li class="page-item"><a class="page-link" href="{{ url_for('view_table', table_name=table_name, page=page+1) }}">{{ page+1 }}</a></li>
                          {% endif %}
                          <li class="page-item"><a class="page-link" href="#">...</a></li>
                          <li class="page-item"><a class="page-link" href="{{ url_for('view_table', table_name=table_name, page=total_pages-1) }}">{{ total_pages-1 }}</a></li>
                          <li class="page-item"><a class="page-link" href="{{ url_for('view_table', table_name=table_name, page=total_pages) }}">{{ total_pages }}</a></li>
                      {% else %}
                          {% for i in range(1, total_pages + 1) %}
                              <li class="page-item {{ 'active' if i == page else '' }}"><a class="page-link" href="{{ url_for('view_table', table_name=table_name, page=i) }}">{{ i }}</a></li>
                          {% endfor %}
                      {% endif %}
                  </ul>
              </nav>              
            </main>
        </div>
    </div>
    <footer class="text-center py-2 bg-dark text-white mt-auto">
